extends ./base.jade

block title
  title Siggame Users

block script
  script(src='../public/js/MemberItem.js')
  script(src='../public/js/MemberForm.js')
  script(src='../public/js/MemberView.js')
  script(src='../public/js/main.js')

block content

  div#users
    h2 SIG-Game Users:
