# Python compiled files
*.pyc

# Emacs files
*~
\#*\#
auto-save-list
.\#*

# Mac files
*.DS_Store

# Migrations
SGAudit/*/migrations/
SGAudit/*/fixtures/*.d

# SQLite DB
SGAudit/*.sqlite3
*.sqlite3

# Python VM
.Python
bin/
lib/
include/

# pyc files
SGAudit/**/*.pyc
